* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'El Messiri', Tahoma;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    /* overflow: hidden; */
}

body {
    background-color: #a0a0a0;

}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'El Messiri';
    src: url(/fonts/static/ElMessiri-Medium.ttf);
}

/* Start navcar */
.navbar {
    padding: 0 2em;
    background-color: #303235;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-shadow {
    -webkit-box-shadow: 0px 8px 12px -9px rgba(221, 216, 216, 0.73);
    -moz-box-shadow: 0px 8px 12px -9px rgba(221, 216, 216, 0.73);
    box-shadow: 0px 8px 12px -9px rgba(221, 216, 216, 0.73);
}

.navbar .logo,
.nav-list {
    color: rgb(177, 177, 177);
    font-family: 'El Messiri', cursive;
    font-weight: bold;
    font-size: larger;
}

.navbar .nav-btn {
    display: none;
}

.navbar #nav-check {
    display: none;
}

.navbar .nav-list {
    list-style: none;
    width: 80%;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.navbar .nav-list li {
    height: 85%;
    padding-top: .3em;
}

.navbar .nav-list a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: rgb(177, 177, 177);
}

.navbar .nav-list a:hover {
    background-color: rgb(177, 177, 177);
    color: #303235;
    border-radius: 15px;
}



/* End navbar */

/* Start header (about) */
.about {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303235;
    border-radius: 0 0 20% 20%/ 0 0 100% 100%;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.my-pic {
    width: 200px;
    height: 300px;
    border-radius: 30%;
    margin-top: 3.5em;
    box-shadow: 0px 15px 10px rgba(206, 206, 206, 0.15);
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -50px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 3em;
    text-align: center;
    margin-top: 0.5em;
}

.waviy .char {
    font-family: 'El Messiri', Tahoma;
    position: relative;
    display: inline-block;
    color: #ddd8d8;
    text-transform: uppercase;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));
    color: rgb(221, 216, 216);

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

.para {
    margin-top: 2em;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para h2 {
    font-family: 'El Messiri', Tahoma;
    max-width: 60%;
    font-weight: 300;
    text-align: center;
    color: rgb(221, 216, 216);
    transform: scale(0.94);
    animation: scale 2s 2s infinite forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.para-span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.para-span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para-span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}


/* End header */

/* Start Projects */
.projects {
    width: 100%;
    padding: 5%;
    height: fit-content;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #303235;
    border-radius: 20% 20% 0 0/ 70% 70% 0 0;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 5em;
}

.projects .projects-title {
    width: 80%;
    height: fit-content;
    position: relative;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'El Messiri', Tahoma;
    color: rgb(221, 216, 216);
    font-weight: 300;
    text-align: center;

}

.projects .projects-title h1 {
    font-size: xx-large;
    margin-bottom: 2em;
}

.projects .projects-title p {
    font-size: large;
    margin-bottom: 2em;
}

.projects .cards-container {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    perspective: 900px;
}

.projects .cards-container .card {
    width: 370px;
    height: 500px;
    background-color: rgb(221, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateX(30deg) scale(0.9);
    transition: 0.5s all ease;
    box-shadow: 0px 20px 50px #555;
    border-radius: 20px;
    overflow: hidden;
}

.projects .cards-container .card .card-img .magnifier {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.projects .cards-container .card:hover {
    transform: rotateX(0deg) scale(1) translateY(10px);

}

.projects .cards-container .card .card-title {
    width: 95%;
    height: fit-content;
    border-bottom: 1px solid black;
    padding-bottom: .2em;
}

.projects .cards-container .card .card-title h1 {
    text-align: center;
    margin-bottom: 0.2em;
    color: #303235;
}

.projects .cards-container .card .card-title a {
    text-align: center;
    color: #303235;
    text-decoration: none;
    cursor: pointer;
}

.projects .cards-container .card .card-title a:hover {
    font-style: italic;
    color: rgb(96, 96, 182);
}

.projects .cards-container .card .card-img {
    width: 95%;
    height: 250px;
    position: relative;
}

.projects .cards-container .card .card-img img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
    overflow: hidden;
    padding: .2em;
}

.projects .cards-container .card .card-img .magnifier svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
}

.projects .cards-container .card .card-discreption {
    width: 95%;
    height: fit-content;
    padding: .5em;
    border-top: 1px solid black;
}

/* End Projects */

/* Start Skills */
.skills {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303235;
    color: rgb(221, 216, 216);
    border-radius: 0 0 20% 20%/ 0 0 100% 100%;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.skills p {
    margin: .5em;
    width: 70%;

}


.skills h1 {
    margin-top: 2em;
    font-size: xx-large;
}

.skills .skill-img {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
}

.skills .skill-img .image {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills .certs h3:not(:nth-child(1)) {
    margin-top: 3em;
}

.skills .certs img {
    margin: 2em;
    border-radius: 10px;
    box-shadow:
        /* 
    gray inset shadow all around, 
    stronger on the bottom 
    */
        0px -1px 2px gray inset,
        /*
    ...on top of an inner white band 
    */
        0px 0px 0px 3px white inset,
        /* 
    dark inset shadow under the white band,
    stronger on the top (by offsetting it 1
    pixel down. 
    */
        0px 1px 5px 2px black inset,
        /*
    highlight, using semi-transparent white, 
    without a blur 
    */
        0px 15px 0px 3px rgba(255, 255, 255, 0.5) inset,
        /*
    Under the highlight, darken the bottom 
    of the div, with lots of blur 
    */
        0px -8px 15px 0px black inset,
        /*
    Done with insets, now on to the outer layers 
    */
        /* 
    A white highlight below the div... 
    */
        0px 2px 4px 2px white,
        /*
    ...and a dark recess above. 
    */
        0px -2px 4px 2px darkgray,
        /*
    All of it on top of a fat gray outline 
    */
        0px 0px 0px 10px lightgray,
        /*
    And now some fun. Let's add a lighter 
    clone to the right, a darker one to the
    left, and stack those lower and lower, 
    and wider and wider. 3D button! 
    */
        1px 1px 0px 11px silver,
        -1px 1px 0px 11px darkgray,
        1px 4px 0px 12px silver,
        -1px 4px 0px 12px darkgray,
        1px 7px 0px 13px silver,
        -1px 7px 0px 13px darkgray,
        1px 10px 0px 14px silver,
        -1px 10px 0px 14px darkgray,
        1px 13px 0px 15px silver,
        -1px 13px 0px 15px darkgray,
        1px 16px 0px 16px silver,
        -1px 16px 0px 16px darkgray,
        /*
    Finally, let's stack three bona-fide
    drop-shadows, each lighter, each offset
    left. 
    */
        0px 16px 4px 17px black,
        -4px 20px 8px 17px gray,
        -12px 30px 16px 17px silver;
}

.journey {
    width: 80%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'El Messiri', Tahoma;
    font-weight: 300;
    text-align: center;
}

.journey p {
    width: 100%;
}

.journey a {
    color: violet;
}

/* End Skills */

@media screen and (max-width:414px) {
    .waviy {
        font-size: 2.3em;
    }

    .projects .cards-container .card {
        width: 320px;
    }
}

/* Start Form */
.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
    background-color: #303235;
    color: rgb(221, 216, 216);
    border-radius: 20% 20% 0 0/ 100% 100% 0 0;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.container {
    min-width: 80%;
    height: 350px;
    border-radius: 20px;
    position: relative;
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    color: #fff;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 20px;
}

.content {
    transform: translatez(70px) scale(0.8);
    line-height: 1.5em;
    height: fit-content;
}

.content h1 {
    position: relative;
}

.content p {
    margin-top: 30px;
    line-height: 2em;
    font-size: larger;
}

.content #click {
    display: none;
}

ul {
    list-style-type: none;
    font-size: large;
}

.content h1:before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    background-color: #3e3;
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.front {
    z-index: 2;
    background-size: 100vh;
    background-size: cover;
    background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg);
}

.back {
    background-color: #333;
    transform: rotateY(180deg);
    z-index: 0;
    padding-top: 10px;
    background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg);
}

.container:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

form {
    text-align: left;
}

.back h1 {
    margin: 0;
}

form label,
form input {
    display: block;
}

form input,
form textarea {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #444;
    padding: 5px;
    width: 100%;
    color: #fff;
}

form label {
    margin: 15px 0;
}

form input[type="submit"] {
    display: block;
    width: auto;
    margin: 10px auto;
    padding: 5px 10px;
    border: 3px solid #555;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

/* my button style  */
.white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    position: fixed;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
}

.white-mode:hover {
    background-color: #fff;
    color: #122;
}

@media (max-width:600px) {
    .content #click {
        display: block;
    }
}

@media (max-width:280px) {
    .content {
        height: 90%;
        overflow: hidden;
    }

    .content ul li {
        width: 100%;
        font-size: 0.5em;
        line-height: 20px;
    }
}

/* End Form */

/* Start Footer */
.links {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #303235;
    color: rgb(221, 216, 216);
}

.links .logo {
    font-size: 2em;
}

.links ul li {
    display: inline-block;
    margin: 0.5em;
    font-size: 2em;
}

.links ul li i {
    color: rgb(221, 216, 216);
}

.links p a {
    color: violet;
}

@media (max-width:280px) {
    .links {
        text-align: center;
    }

    .links ul {
        font-size: small;
    }

    .waviy {
        font-size: 1.5em;
    }
}


/* End Footer */


/* ******************** */
@media (max-width:665px) {
    .navbar .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .navbar .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 40px;
        padding: 8px;
    }

    .navbar .nav-btn label:hover,
    .navbar #nav-check:checked~.nav-btn label {
        background-color: #303235;
    }

    .navbar .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .navbar .nav-list {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #303235;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 40px;
        left: 0px;
    }

    .navbar>.nav-list>a {
        display: block;
        width: 100%;
    }

    .navbar>#nav-check:not(:checked)~.nav-list {
        height: 0px;
    }

    .navbar>#nav-check:checked~.nav-list {
        height: calc(100vh - 40px);
        overflow-y: auto;
    }

    .navbar .nav-list li {
        height: fit-content;
    }
}

/* ******************** */

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 818px 288px #FFF, 74px 1072px #FFF, 1509px 498px #FFF, 1060px 1711px #FFF, 26px 673px #FFF, 412px 765px #FFF, 697px 1855px #FFF, 1929px 230px #FFF, 1250px 733px #FFF, 1081px 523px #FFF, 1041px 1825px #FFF, 785px 1088px #FFF, 953px 1112px #FFF, 1522px 954px #FFF, 985px 1779px #FFF, 1593px 1793px #FFF, 690px 1171px #FFF, 815px 592px #FFF, 1498px 445px #FFF, 1570px 290px #FFF, 402px 1351px #FFF, 1422px 1998px #FFF, 284px 680px #FFF, 1567px 1352px #FFF, 1750px 391px #FFF, 510px 1142px #FFF, 1967px 312px #FFF, 681px 1149px #FFF, 635px 665px #FFF, 760px 1344px #FFF, 378px 441px #FFF, 505px 800px #FFF, 637px 1917px #FFF, 611px 497px #FFF, 29px 725px #FFF, 1712px 1715px #FFF, 1587px 1364px #FFF, 176px 1289px #FFF, 1439px 1480px #FFF, 1986px 1184px #FFF, 173px 647px #FFF, 1292px 201px #FFF, 411px 224px #FFF, 1706px 398px #FFF, 566px 1827px #FFF, 756px 1678px #FFF, 1691px 1815px #FFF, 1332px 291px #FFF, 1233px 82px #FFF, 1522px 160px #FFF, 545px 1344px #FFF, 304px 1724px #FFF, 770px 749px #FFF, 1150px 1140px #FFF, 840px 1522px #FFF, 188px 1910px #FFF, 1357px 371px #FFF, 1027px 1514px #FFF, 1867px 1094px #FFF, 358px 1419px #FFF, 422px 486px #FFF, 50px 1990px #FFF, 808px 729px #FFF, 536px 1588px #FFF, 1837px 907px #FFF, 89px 1296px #FFF, 1267px 1772px #FFF, 1504px 1447px #FFF, 1093px 889px #FFF, 1804px 781px #FFF, 790px 1707px #FFF, 381px 899px #FFF, 611px 1239px #FFF, 837px 1972px #FFF, 194px 415px #FFF, 1660px 1630px #FFF, 1830px 311px #FFF, 1038px 698px #FFF, 578px 1610px #FFF, 1379px 647px #FFF, 1196px 125px #FFF, 1057px 1624px #FFF, 1846px 1943px #FFF, 548px 1638px #FFF, 1175px 1502px #FFF, 714px 398px #FFF, 923px 118px #FFF, 1248px 1564px #FFF, 214px 400px #FFF, 1518px 674px #FFF, 50px 916px #FFF, 933px 627px #FFF, 1966px 1196px #FFF, 1235px 502px #FFF, 1392px 2px #FFF, 700px 488px #FFF, 430px 76px #FFF, 1053px 1479px #FFF, 1070px 1974px #FFF, 1829px 1834px #FFF, 10px 1px #FFF, 844px 43px #FFF, 1056px 1346px #FFF, 1868px 835px #FFF, 1581px 1737px #FFF, 1848px 770px #FFF, 1350px 972px #FFF, 414px 842px #FFF, 858px 1098px #FFF, 1346px 1842px #FFF, 777px 1272px #FFF, 1822px 1544px #FFF, 1367px 1158px #FFF, 1105px 1560px #FFF, 1163px 705px #FFF, 1771px 8px #FFF, 647px 1093px #FFF, 275px 295px #FFF, 1508px 1764px #FFF, 1824px 1232px #FFF, 1867px 627px #FFF, 922px 1496px #FFF, 1702px 783px #FFF, 760px 1953px #FFF, 1188px 1741px #FFF, 437px 1515px #FFF, 1196px 787px #FFF, 691px 1512px #FFF, 1913px 412px #FFF, 650px 1063px #FFF, 510px 1880px #FFF, 185px 1339px #FFF, 72px 648px #FFF, 266px 1979px #FFF, 557px 1636px #FFF, 1785px 1514px #FFF, 1972px 600px #FFF, 882px 355px #FFF, 688px 689px #FFF, 1589px 1996px #FFF, 1593px 910px #FFF, 1236px 225px #FFF, 1212px 1347px #FFF, 1218px 606px #FFF, 1069px 821px #FFF, 687px 1206px #FFF, 1784px 18px #FFF, 841px 1225px #FFF, 1714px 1193px #FFF, 591px 403px #FFF, 1041px 373px #FFF, 1955px 1285px #FFF, 1142px 620px #FFF, 206px 1806px #FFF, 1304px 43px #FFF, 1606px 601px #FFF, 1237px 1555px #FFF, 1398px 98px #FFF, 677px 1046px #FFF, 339px 1306px #FFF, 1151px 1981px #FFF, 105px 953px #FFF, 302px 526px #FFF, 972px 221px #FFF, 1976px 1281px #FFF, 200px 1688px #FFF, 536px 885px #FFF, 591px 877px #FFF, 1161px 328px #FFF, 1916px 971px #FFF, 124px 1836px #FFF, 1775px 795px #FFF, 1239px 399px #FFF, 472px 47px #FFF, 1958px 799px #FFF, 445px 1948px #FFF, 336px 842px #FFF, 140px 845px #FFF, 1739px 1280px #FFF, 1040px 1394px #FFF, 24px 1417px #FFF, 1429px 741px #FFF, 960px 1391px #FFF, 1118px 1804px #FFF, 411px 193px #FFF, 163px 79px #FFF, 516px 1652px #FFF, 156px 348px #FFF, 425px 246px #FFF, 504px 1308px #FFF, 1023px 1549px #FFF, 895px 1386px #FFF, 507px 1532px #FFF, 59px 1484px #FFF, 271px 453px #FFF, 1893px 391px #FFF, 1193px 1824px #FFF, 1848px 842px #FFF, 1382px 1128px #FFF, 1474px 8px #FFF, 819px 1114px #FFF, 395px 958px #FFF, 1640px 935px #FFF, 1175px 972px #FFF, 1194px 1614px #FFF, 1016px 275px #FFF, 90px 1879px #FFF, 1177px 314px #FFF, 130px 1965px #FFF, 970px 435px #FFF, 73px 638px #FFF, 1317px 290px #FFF, 1195px 1506px #FFF, 1867px 325px #FFF, 1990px 1217px #FFF, 457px 604px #FFF, 896px 217px #FFF, 910px 823px #FFF, 299px 981px #FFF, 1841px 273px #FFF, 1611px 1736px #FFF, 1731px 784px #FFF, 537px 1200px #FFF, 160px 1607px #FFF, 1242px 451px #FFF, 522px 1428px #FFF, 694px 1855px #FFF, 1743px 209px #FFF, 1627px 443px #FFF, 119px 244px #FFF, 1584px 1819px #FFF, 1402px 1410px #FFF, 1858px 1047px #FFF, 1784px 1803px #FFF, 372px 536px #FFF, 1931px 781px #FFF, 1954px 1335px #FFF, 328px 1442px #FFF, 1692px 1246px #FFF, 208px 305px #FFF, 276px 1933px #FFF, 948px 258px #FFF, 902px 920px #FFF, 1622px 94px #FFF, 881px 1322px #FFF, 658px 1851px #FFF, 1085px 825px #FFF, 983px 664px #FFF, 48px 310px #FFF, 351px 52px #FFF, 1750px 258px #FFF, 1500px 1136px #FFF, 586px 771px #FFF, 1610px 1449px #FFF, 315px 1855px #FFF, 1039px 1734px #FFF, 641px 484px #FFF, 514px 613px #FFF, 1150px 111px #FFF, 1141px 765px #FFF, 1842px 1586px #FFF, 1455px 201px #FFF, 1163px 1440px #FFF, 212px 792px #FFF, 638px 1868px #FFF, 484px 1807px #FFF, 1406px 216px #FFF, 134px 912px #FFF, 206px 504px #FFF, 1322px 1182px #FFF, 196px 216px #FFF, 1396px 1939px #FFF, 1468px 1491px #FFF, 575px 386px #FFF, 632px 757px #FFF, 995px 1850px #FFF, 736px 213px #FFF, 108px 1692px #FFF, 117px 103px #FFF, 1625px 89px #FFF, 1354px 168px #FFF, 271px 635px #FFF, 1041px 174px #FFF, 1038px 1568px #FFF, 31px 1088px #FFF, 570px 1168px #FFF, 416px 10px #FFF, 302px 943px #FFF, 1256px 500px #FFF, 794px 339px #FFF, 408px 1892px #FFF, 529px 1687px #FFF, 1890px 1886px #FFF, 890px 1605px #FFF, 1636px 251px #FFF, 174px 983px #FFF, 1217px 1682px #FFF, 45px 1271px #FFF, 1187px 1585px #FFF, 997px 1182px #FFF, 291px 1838px #FFF, 1472px 178px #FFF, 309px 1929px #FFF, 1611px 254px #FFF, 463px 1609px #FFF, 490px 1204px #FFF, 1630px 1750px #FFF, 1900px 350px #FFF, 1249px 806px #FFF, 440px 353px #FFF, 1324px 961px #FFF, 1155px 235px #FFF, 146px 1358px #FFF, 438px 200px #FFF, 1469px 915px #FFF, 1594px 1401px #FFF, 1938px 1989px #FFF, 1182px 1793px #FFF, 1429px 932px #FFF, 244px 521px #FFF, 984px 1859px #FFF, 1346px 1971px #FFF, 291px 283px #FFF, 622px 1214px #FFF, 1805px 1227px #FFF, 429px 809px #FFF, 527px 6px #FFF, 1139px 1142px #FFF, 1386px 1972px #FFF, 70px 276px #FFF, 1543px 1776px #FFF, 494px 43px #FFF, 494px 154px #FFF, 1614px 1387px #FFF, 274px 938px #FFF, 931px 1383px #FFF, 1783px 872px #FFF, 1831px 1472px #FFF, 1023px 1475px #FFF, 1455px 244px #FFF, 1314px 1267px #FFF, 854px 1947px #FFF, 1697px 1294px #FFF, 1296px 1859px #FFF, 724px 4px #FFF, 1491px 1980px #FFF, 1686px 612px #FFF, 1282px 510px #FFF, 453px 1549px #FFF, 263px 275px #FFF, 1322px 1446px #FFF, 1101px 288px #FFF, 1421px 1513px #FFF, 1446px 1627px #FFF, 731px 1493px #FFF, 160px 295px #FFF, 591px 1623px #FFF, 1373px 949px #FFF, 1503px 1686px #FFF, 873px 243px #FFF, 1113px 141px #FFF, 1566px 1836px #FFF, 510px 1043px #FFF, 1944px 1549px #FFF, 218px 1347px #FFF, 821px 1256px #FFF, 603px 6px #FFF, 1958px 955px #FFF, 889px 1345px #FFF, 671px 284px #FFF, 1494px 109px #FFF, 1124px 835px #FFF, 98px 1983px #FFF, 1293px 1137px #FFF, 355px 1811px #FFF, 1445px 28px #FFF, 1138px 1467px #FFF, 1119px 422px #FFF, 1972px 190px #FFF, 1441px 957px #FFF, 775px 1212px #FFF, 1754px 374px #FFF, 459px 1060px #FFF, 1792px 40px #FFF, 1137px 935px #FFF, 305px 237px #FFF, 519px 1917px #FFF, 49px 146px #FFF, 1116px 1480px #FFF, 999px 423px #FFF, 1598px 150px #FFF, 975px 1285px #FFF, 353px 249px #FFF, 824px 899px #FFF, 1331px 1315px #FFF, 546px 304px #FFF, 1953px 1876px #FFF, 1996px 127px #FFF, 425px 143px #FFF, 867px 235px #FFF, 1189px 68px #FFF, 1906px 1586px #FFF, 1900px 637px #FFF, 1588px 739px #FFF, 1746px 1371px #FFF, 159px 1383px #FFF, 1714px 822px #FFF, 1243px 931px #FFF, 364px 647px #FFF, 1789px 1541px #FFF, 1002px 594px #FFF, 1357px 679px #FFF, 944px 334px #FFF, 1772px 1491px #FFF, 1338px 1430px #FFF, 222px 423px #FFF, 461px 881px #FFF, 1941px 1932px #FFF, 1398px 148px #FFF, 1938px 1021px #FFF, 623px 1093px #FFF, 150px 315px #FFF, 1044px 1860px #FFF, 30px 302px #FFF, 466px 984px #FFF, 216px 1871px #FFF, 1588px 1020px #FFF, 23px 1275px #FFF, 1103px 106px #FFF, 1364px 1731px #FFF, 1289px 1553px #FFF, 1932px 1265px #FFF, 1069px 1872px #FFF, 1364px 1167px #FFF, 126px 654px #FFF, 128px 1615px #FFF, 671px 1627px #FFF, 854px 58px #FFF, 335px 1259px #FFF, 651px 1935px #FFF, 440px 56px #FFF, 1297px 36px #FFF, 1159px 172px #FFF, 568px 682px #FFF, 1352px 1963px #FFF, 1215px 264px #FFF, 266px 452px #FFF, 223px 1679px #FFF, 989px 250px #FFF, 1280px 1569px #FFF, 359px 1504px #FFF, 1367px 1698px #FFF, 1238px 553px #FFF, 1208px 1656px #FFF, 947px 699px #FFF, 1043px 257px #FFF, 1116px 641px #FFF, 865px 26px #FFF, 355px 1352px #FFF, 1945px 1911px #FFF, 851px 492px #FFF, 1699px 399px #FFF, 1986px 1890px #FFF, 860px 1510px #FFF, 839px 749px #FFF, 327px 1074px #FFF, 45px 1450px #FFF, 1042px 1147px #FFF, 524px 2px #FFF, 753px 1931px #FFF, 514px 659px #FFF, 68px 356px #FFF, 799px 975px #FFF, 1669px 1331px #FFF, 669px 154px #FFF, 726px 1311px #FFF, 922px 539px #FFF, 573px 787px #FFF, 574px 1945px #FFF, 1651px 1004px #FFF, 969px 790px #FFF, 1636px 1270px #FFF, 1245px 1000px #FFF, 567px 1605px #FFF, 1857px 1862px #FFF, 860px 96px #FFF, 1732px 558px #FFF, 556px 1452px #FFF, 1010px 483px #FFF, 295px 229px #FFF, 1375px 1674px #FFF, 1687px 526px #FFF, 1027px 1233px #FFF, 60px 113px #FFF, 1006px 520px #FFF, 865px 280px #FFF, 1111px 1477px #FFF, 1586px 1583px #FFF, 1849px 1662px #FFF, 710px 1673px #FFF, 28px 277px #FFF, 1634px 268px #FFF, 853px 1194px #FFF, 1472px 1405px #FFF, 444px 1179px #FFF, 103px 1589px #FFF, 236px 160px #FFF, 979px 1506px #FFF, 1323px 1769px #FFF, 241px 1364px #FFF, 1771px 67px #FFF, 657px 307px #FFF, 1588px 388px #FFF, 1673px 410px #FFF, 77px 621px #FFF, 1110px 1963px #FFF, 1432px 1658px #FFF, 776px 718px #FFF, 1112px 998px #FFF, 205px 409px #FFF, 1861px 1107px #FFF, 1578px 310px #FFF, 1838px 1224px #FFF, 1657px 396px #FFF, 205px 280px #FFF, 1743px 186px #FFF, 555px 1217px #FFF, 718px 669px #FFF, 1692px 128px #FFF, 1738px 806px #FFF, 1972px 181px #FFF, 930px 1392px #FFF, 175px 1594px #FFF, 1693px 750px #FFF, 1814px 851px #FFF, 187px 1219px #FFF, 1461px 1110px #FFF, 363px 1822px #FFF, 442px 924px #FFF, 413px 1053px #FFF, 1519px 1106px #FFF, 1132px 1408px #FFF, 1413px 1670px #FFF, 1474px 283px #FFF, 1599px 854px #FFF, 370px 1856px #FFF, 1312px 1956px #FFF, 677px 609px #FFF, 557px 430px #FFF, 1982px 427px #FFF, 1905px 736px #FFF, 233px 1868px #FFF, 329px 1772px #FFF, 14px 1821px #FFF, 215px 1177px #FFF, 1005px 1123px #FFF, 94px 401px #FFF, 1089px 184px #FFF, 306px 326px #FFF, 1211px 129px #FFF, 212px 1426px #FFF, 363px 611px #FFF, 1652px 201px #FFF, 1032px 1101px #FFF, 1421px 851px #FFF, 476px 1527px #FFF, 626px 1365px #FFF, 1404px 1468px #FFF, 310px 596px #FFF, 223px 1708px #FFF, 910px 1413px #FFF, 702px 1023px #FFF, 258px 1547px #FFF, 1291px 37px #FFF, 1737px 344px #FFF, 265px 307px #FFF, 1042px 1009px #FFF, 1383px 296px #FFF, 191px 1884px #FFF, 1843px 1064px #FFF, 563px 1705px #FFF, 474px 1003px #FFF, 1585px 1954px #FFF, 1509px 309px #FFF, 1465px 1884px #FFF, 1221px 958px #FFF, 594px 798px #FFF, 185px 847px #FFF, 110px 59px #FFF, 1980px 1855px #FFF, 1227px 1616px #FFF, 1251px 845px #FFF, 323px 977px #FFF, 421px 1611px #FFF, 743px 642px #FFF, 1939px 340px #FFF, 331px 668px #FFF, 956px 1078px #FFF, 725px 319px #FFF, 916px 942px #FFF, 187px 183px #FFF, 1056px 959px #FFF, 217px 1817px #FFF, 1363px 393px #FFF, 1824px 598px #FFF, 607px 1721px #FFF, 712px 1098px #FFF, 901px 1579px #FFF, 1738px 1787px #FFF, 827px 163px #FFF, 729px 1889px #FFF, 618px 1481px #FFF, 1730px 303px #FFF, 1270px 1166px #FFF, 970px 860px #FFF, 658px 25px #FFF, 1375px 942px #FFF, 413px 1344px #FFF, 411px 1235px #FFF, 226px 1500px #FFF, 1162px 464px #FFF, 608px 1211px #FFF, 120px 988px #FFF, 1493px 1784px #FFF, 1631px 664px #FFF, 1262px 1570px #FFF, 1443px 201px #FFF, 156px 892px #FFF, 610px 1156px #FFF, 60px 1851px #FFF, 1968px 1525px #FFF, 617px 1702px #FFF, 1080px 752px #FFF, 1779px 148px #FFF, 1469px 185px #FFF, 967px 1191px #FFF, 1605px 1340px #FFF, 1554px 1433px #FFF, 1926px 888px #FFF, 504px 927px #FFF, 1879px 1505px #FFF, 1680px 138px #FFF, 1517px 1585px #FFF, 1509px 254px #FFF, 816px 1033px #FFF, 1318px 1867px #FFF, 1002px 10px #FFF, 1990px 875px #FFF, 1427px 684px #FFF, 1784px 846px #FFF, 503px 1334px #FFF, 636px 1730px #FFF, 1384px 65px #FFF, 1746px 273px #FFF, 933px 1719px #FFF, 1572px 535px #FFF, 401px 368px #FFF, 1685px 74px #FFF, 1500px 710px #FFF, 179px 1234px #FFF, 1341px 196px #FFF, 410px 278px #FFF, 1713px 895px #FFF, 999px 523px #FFF, 1661px 1876px #FFF, 1051px 1059px #FFF, 1819px 1915px #FFF, 1722px 1722px #FFF, 1935px 65px #FFF, 1763px 1280px #FFF, 1804px 1733px #FFF, 399px 1215px #FFF, 865px 482px #FFF, 1506px 582px #FFF, 631px 564px #FFF, 690px 1700px #FFF, 1975px 1673px #FFF, 1031px 944px #FFF, 1914px 426px #FFF, 1308px 1689px #FFF, 188px 435px #FFF, 687px 106px #FFF, 1936px 471px #FFF, 748px 401px #FFF, 667px 1718px #FFF, 1717px 144px #FFF, 1117px 1686px #FFF, 891px 275px #FFF, 382px 684px #FFF, 909px 529px #FFF, 957px 1276px #FFF, 1321px 1979px #FFF, 750px 1388px #FFF, 1115px 70px #FFF, 1909px 1684px #FFF, 529px 1817px #FFF, 522px 1618px #FFF, 380px 360px #FFF, 550px 786px #FFF, 1280px 1025px #FFF;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 818px 288px #FFF, 74px 1072px #FFF, 1509px 498px #FFF, 1060px 1711px #FFF, 26px 673px #FFF, 412px 765px #FFF, 697px 1855px #FFF, 1929px 230px #FFF, 1250px 733px #FFF, 1081px 523px #FFF, 1041px 1825px #FFF, 785px 1088px #FFF, 953px 1112px #FFF, 1522px 954px #FFF, 985px 1779px #FFF, 1593px 1793px #FFF, 690px 1171px #FFF, 815px 592px #FFF, 1498px 445px #FFF, 1570px 290px #FFF, 402px 1351px #FFF, 1422px 1998px #FFF, 284px 680px #FFF, 1567px 1352px #FFF, 1750px 391px #FFF, 510px 1142px #FFF, 1967px 312px #FFF, 681px 1149px #FFF, 635px 665px #FFF, 760px 1344px #FFF, 378px 441px #FFF, 505px 800px #FFF, 637px 1917px #FFF, 611px 497px #FFF, 29px 725px #FFF, 1712px 1715px #FFF, 1587px 1364px #FFF, 176px 1289px #FFF, 1439px 1480px #FFF, 1986px 1184px #FFF, 173px 647px #FFF, 1292px 201px #FFF, 411px 224px #FFF, 1706px 398px #FFF, 566px 1827px #FFF, 756px 1678px #FFF, 1691px 1815px #FFF, 1332px 291px #FFF, 1233px 82px #FFF, 1522px 160px #FFF, 545px 1344px #FFF, 304px 1724px #FFF, 770px 749px #FFF, 1150px 1140px #FFF, 840px 1522px #FFF, 188px 1910px #FFF, 1357px 371px #FFF, 1027px 1514px #FFF, 1867px 1094px #FFF, 358px 1419px #FFF, 422px 486px #FFF, 50px 1990px #FFF, 808px 729px #FFF, 536px 1588px #FFF, 1837px 907px #FFF, 89px 1296px #FFF, 1267px 1772px #FFF, 1504px 1447px #FFF, 1093px 889px #FFF, 1804px 781px #FFF, 790px 1707px #FFF, 381px 899px #FFF, 611px 1239px #FFF, 837px 1972px #FFF, 194px 415px #FFF, 1660px 1630px #FFF, 1830px 311px #FFF, 1038px 698px #FFF, 578px 1610px #FFF, 1379px 647px #FFF, 1196px 125px #FFF, 1057px 1624px #FFF, 1846px 1943px #FFF, 548px 1638px #FFF, 1175px 1502px #FFF, 714px 398px #FFF, 923px 118px #FFF, 1248px 1564px #FFF, 214px 400px #FFF, 1518px 674px #FFF, 50px 916px #FFF, 933px 627px #FFF, 1966px 1196px #FFF, 1235px 502px #FFF, 1392px 2px #FFF, 700px 488px #FFF, 430px 76px #FFF, 1053px 1479px #FFF, 1070px 1974px #FFF, 1829px 1834px #FFF, 10px 1px #FFF, 844px 43px #FFF, 1056px 1346px #FFF, 1868px 835px #FFF, 1581px 1737px #FFF, 1848px 770px #FFF, 1350px 972px #FFF, 414px 842px #FFF, 858px 1098px #FFF, 1346px 1842px #FFF, 777px 1272px #FFF, 1822px 1544px #FFF, 1367px 1158px #FFF, 1105px 1560px #FFF, 1163px 705px #FFF, 1771px 8px #FFF, 647px 1093px #FFF, 275px 295px #FFF, 1508px 1764px #FFF, 1824px 1232px #FFF, 1867px 627px #FFF, 922px 1496px #FFF, 1702px 783px #FFF, 760px 1953px #FFF, 1188px 1741px #FFF, 437px 1515px #FFF, 1196px 787px #FFF, 691px 1512px #FFF, 1913px 412px #FFF, 650px 1063px #FFF, 510px 1880px #FFF, 185px 1339px #FFF, 72px 648px #FFF, 266px 1979px #FFF, 557px 1636px #FFF, 1785px 1514px #FFF, 1972px 600px #FFF, 882px 355px #FFF, 688px 689px #FFF, 1589px 1996px #FFF, 1593px 910px #FFF, 1236px 225px #FFF, 1212px 1347px #FFF, 1218px 606px #FFF, 1069px 821px #FFF, 687px 1206px #FFF, 1784px 18px #FFF, 841px 1225px #FFF, 1714px 1193px #FFF, 591px 403px #FFF, 1041px 373px #FFF, 1955px 1285px #FFF, 1142px 620px #FFF, 206px 1806px #FFF, 1304px 43px #FFF, 1606px 601px #FFF, 1237px 1555px #FFF, 1398px 98px #FFF, 677px 1046px #FFF, 339px 1306px #FFF, 1151px 1981px #FFF, 105px 953px #FFF, 302px 526px #FFF, 972px 221px #FFF, 1976px 1281px #FFF, 200px 1688px #FFF, 536px 885px #FFF, 591px 877px #FFF, 1161px 328px #FFF, 1916px 971px #FFF, 124px 1836px #FFF, 1775px 795px #FFF, 1239px 399px #FFF, 472px 47px #FFF, 1958px 799px #FFF, 445px 1948px #FFF, 336px 842px #FFF, 140px 845px #FFF, 1739px 1280px #FFF, 1040px 1394px #FFF, 24px 1417px #FFF, 1429px 741px #FFF, 960px 1391px #FFF, 1118px 1804px #FFF, 411px 193px #FFF, 163px 79px #FFF, 516px 1652px #FFF, 156px 348px #FFF, 425px 246px #FFF, 504px 1308px #FFF, 1023px 1549px #FFF, 895px 1386px #FFF, 507px 1532px #FFF, 59px 1484px #FFF, 271px 453px #FFF, 1893px 391px #FFF, 1193px 1824px #FFF, 1848px 842px #FFF, 1382px 1128px #FFF, 1474px 8px #FFF, 819px 1114px #FFF, 395px 958px #FFF, 1640px 935px #FFF, 1175px 972px #FFF, 1194px 1614px #FFF, 1016px 275px #FFF, 90px 1879px #FFF, 1177px 314px #FFF, 130px 1965px #FFF, 970px 435px #FFF, 73px 638px #FFF, 1317px 290px #FFF, 1195px 1506px #FFF, 1867px 325px #FFF, 1990px 1217px #FFF, 457px 604px #FFF, 896px 217px #FFF, 910px 823px #FFF, 299px 981px #FFF, 1841px 273px #FFF, 1611px 1736px #FFF, 1731px 784px #FFF, 537px 1200px #FFF, 160px 1607px #FFF, 1242px 451px #FFF, 522px 1428px #FFF, 694px 1855px #FFF, 1743px 209px #FFF, 1627px 443px #FFF, 119px 244px #FFF, 1584px 1819px #FFF, 1402px 1410px #FFF, 1858px 1047px #FFF, 1784px 1803px #FFF, 372px 536px #FFF, 1931px 781px #FFF, 1954px 1335px #FFF, 328px 1442px #FFF, 1692px 1246px #FFF, 208px 305px #FFF, 276px 1933px #FFF, 948px 258px #FFF, 902px 920px #FFF, 1622px 94px #FFF, 881px 1322px #FFF, 658px 1851px #FFF, 1085px 825px #FFF, 983px 664px #FFF, 48px 310px #FFF, 351px 52px #FFF, 1750px 258px #FFF, 1500px 1136px #FFF, 586px 771px #FFF, 1610px 1449px #FFF, 315px 1855px #FFF, 1039px 1734px #FFF, 641px 484px #FFF, 514px 613px #FFF, 1150px 111px #FFF, 1141px 765px #FFF, 1842px 1586px #FFF, 1455px 201px #FFF, 1163px 1440px #FFF, 212px 792px #FFF, 638px 1868px #FFF, 484px 1807px #FFF, 1406px 216px #FFF, 134px 912px #FFF, 206px 504px #FFF, 1322px 1182px #FFF, 196px 216px #FFF, 1396px 1939px #FFF, 1468px 1491px #FFF, 575px 386px #FFF, 632px 757px #FFF, 995px 1850px #FFF, 736px 213px #FFF, 108px 1692px #FFF, 117px 103px #FFF, 1625px 89px #FFF, 1354px 168px #FFF, 271px 635px #FFF, 1041px 174px #FFF, 1038px 1568px #FFF, 31px 1088px #FFF, 570px 1168px #FFF, 416px 10px #FFF, 302px 943px #FFF, 1256px 500px #FFF, 794px 339px #FFF, 408px 1892px #FFF, 529px 1687px #FFF, 1890px 1886px #FFF, 890px 1605px #FFF, 1636px 251px #FFF, 174px 983px #FFF, 1217px 1682px #FFF, 45px 1271px #FFF, 1187px 1585px #FFF, 997px 1182px #FFF, 291px 1838px #FFF, 1472px 178px #FFF, 309px 1929px #FFF, 1611px 254px #FFF, 463px 1609px #FFF, 490px 1204px #FFF, 1630px 1750px #FFF, 1900px 350px #FFF, 1249px 806px #FFF, 440px 353px #FFF, 1324px 961px #FFF, 1155px 235px #FFF, 146px 1358px #FFF, 438px 200px #FFF, 1469px 915px #FFF, 1594px 1401px #FFF, 1938px 1989px #FFF, 1182px 1793px #FFF, 1429px 932px #FFF, 244px 521px #FFF, 984px 1859px #FFF, 1346px 1971px #FFF, 291px 283px #FFF, 622px 1214px #FFF, 1805px 1227px #FFF, 429px 809px #FFF, 527px 6px #FFF, 1139px 1142px #FFF, 1386px 1972px #FFF, 70px 276px #FFF, 1543px 1776px #FFF, 494px 43px #FFF, 494px 154px #FFF, 1614px 1387px #FFF, 274px 938px #FFF, 931px 1383px #FFF, 1783px 872px #FFF, 1831px 1472px #FFF, 1023px 1475px #FFF, 1455px 244px #FFF, 1314px 1267px #FFF, 854px 1947px #FFF, 1697px 1294px #FFF, 1296px 1859px #FFF, 724px 4px #FFF, 1491px 1980px #FFF, 1686px 612px #FFF, 1282px 510px #FFF, 453px 1549px #FFF, 263px 275px #FFF, 1322px 1446px #FFF, 1101px 288px #FFF, 1421px 1513px #FFF, 1446px 1627px #FFF, 731px 1493px #FFF, 160px 295px #FFF, 591px 1623px #FFF, 1373px 949px #FFF, 1503px 1686px #FFF, 873px 243px #FFF, 1113px 141px #FFF, 1566px 1836px #FFF, 510px 1043px #FFF, 1944px 1549px #FFF, 218px 1347px #FFF, 821px 1256px #FFF, 603px 6px #FFF, 1958px 955px #FFF, 889px 1345px #FFF, 671px 284px #FFF, 1494px 109px #FFF, 1124px 835px #FFF, 98px 1983px #FFF, 1293px 1137px #FFF, 355px 1811px #FFF, 1445px 28px #FFF, 1138px 1467px #FFF, 1119px 422px #FFF, 1972px 190px #FFF, 1441px 957px #FFF, 775px 1212px #FFF, 1754px 374px #FFF, 459px 1060px #FFF, 1792px 40px #FFF, 1137px 935px #FFF, 305px 237px #FFF, 519px 1917px #FFF, 49px 146px #FFF, 1116px 1480px #FFF, 999px 423px #FFF, 1598px 150px #FFF, 975px 1285px #FFF, 353px 249px #FFF, 824px 899px #FFF, 1331px 1315px #FFF, 546px 304px #FFF, 1953px 1876px #FFF, 1996px 127px #FFF, 425px 143px #FFF, 867px 235px #FFF, 1189px 68px #FFF, 1906px 1586px #FFF, 1900px 637px #FFF, 1588px 739px #FFF, 1746px 1371px #FFF, 159px 1383px #FFF, 1714px 822px #FFF, 1243px 931px #FFF, 364px 647px #FFF, 1789px 1541px #FFF, 1002px 594px #FFF, 1357px 679px #FFF, 944px 334px #FFF, 1772px 1491px #FFF, 1338px 1430px #FFF, 222px 423px #FFF, 461px 881px #FFF, 1941px 1932px #FFF, 1398px 148px #FFF, 1938px 1021px #FFF, 623px 1093px #FFF, 150px 315px #FFF, 1044px 1860px #FFF, 30px 302px #FFF, 466px 984px #FFF, 216px 1871px #FFF, 1588px 1020px #FFF, 23px 1275px #FFF, 1103px 106px #FFF, 1364px 1731px #FFF, 1289px 1553px #FFF, 1932px 1265px #FFF, 1069px 1872px #FFF, 1364px 1167px #FFF, 126px 654px #FFF, 128px 1615px #FFF, 671px 1627px #FFF, 854px 58px #FFF, 335px 1259px #FFF, 651px 1935px #FFF, 440px 56px #FFF, 1297px 36px #FFF, 1159px 172px #FFF, 568px 682px #FFF, 1352px 1963px #FFF, 1215px 264px #FFF, 266px 452px #FFF, 223px 1679px #FFF, 989px 250px #FFF, 1280px 1569px #FFF, 359px 1504px #FFF, 1367px 1698px #FFF, 1238px 553px #FFF, 1208px 1656px #FFF, 947px 699px #FFF, 1043px 257px #FFF, 1116px 641px #FFF, 865px 26px #FFF, 355px 1352px #FFF, 1945px 1911px #FFF, 851px 492px #FFF, 1699px 399px #FFF, 1986px 1890px #FFF, 860px 1510px #FFF, 839px 749px #FFF, 327px 1074px #FFF, 45px 1450px #FFF, 1042px 1147px #FFF, 524px 2px #FFF, 753px 1931px #FFF, 514px 659px #FFF, 68px 356px #FFF, 799px 975px #FFF, 1669px 1331px #FFF, 669px 154px #FFF, 726px 1311px #FFF, 922px 539px #FFF, 573px 787px #FFF, 574px 1945px #FFF, 1651px 1004px #FFF, 969px 790px #FFF, 1636px 1270px #FFF, 1245px 1000px #FFF, 567px 1605px #FFF, 1857px 1862px #FFF, 860px 96px #FFF, 1732px 558px #FFF, 556px 1452px #FFF, 1010px 483px #FFF, 295px 229px #FFF, 1375px 1674px #FFF, 1687px 526px #FFF, 1027px 1233px #FFF, 60px 113px #FFF, 1006px 520px #FFF, 865px 280px #FFF, 1111px 1477px #FFF, 1586px 1583px #FFF, 1849px 1662px #FFF, 710px 1673px #FFF, 28px 277px #FFF, 1634px 268px #FFF, 853px 1194px #FFF, 1472px 1405px #FFF, 444px 1179px #FFF, 103px 1589px #FFF, 236px 160px #FFF, 979px 1506px #FFF, 1323px 1769px #FFF, 241px 1364px #FFF, 1771px 67px #FFF, 657px 307px #FFF, 1588px 388px #FFF, 1673px 410px #FFF, 77px 621px #FFF, 1110px 1963px #FFF, 1432px 1658px #FFF, 776px 718px #FFF, 1112px 998px #FFF, 205px 409px #FFF, 1861px 1107px #FFF, 1578px 310px #FFF, 1838px 1224px #FFF, 1657px 396px #FFF, 205px 280px #FFF, 1743px 186px #FFF, 555px 1217px #FFF, 718px 669px #FFF, 1692px 128px #FFF, 1738px 806px #FFF, 1972px 181px #FFF, 930px 1392px #FFF, 175px 1594px #FFF, 1693px 750px #FFF, 1814px 851px #FFF, 187px 1219px #FFF, 1461px 1110px #FFF, 363px 1822px #FFF, 442px 924px #FFF, 413px 1053px #FFF, 1519px 1106px #FFF, 1132px 1408px #FFF, 1413px 1670px #FFF, 1474px 283px #FFF, 1599px 854px #FFF, 370px 1856px #FFF, 1312px 1956px #FFF, 677px 609px #FFF, 557px 430px #FFF, 1982px 427px #FFF, 1905px 736px #FFF, 233px 1868px #FFF, 329px 1772px #FFF, 14px 1821px #FFF, 215px 1177px #FFF, 1005px 1123px #FFF, 94px 401px #FFF, 1089px 184px #FFF, 306px 326px #FFF, 1211px 129px #FFF, 212px 1426px #FFF, 363px 611px #FFF, 1652px 201px #FFF, 1032px 1101px #FFF, 1421px 851px #FFF, 476px 1527px #FFF, 626px 1365px #FFF, 1404px 1468px #FFF, 310px 596px #FFF, 223px 1708px #FFF, 910px 1413px #FFF, 702px 1023px #FFF, 258px 1547px #FFF, 1291px 37px #FFF, 1737px 344px #FFF, 265px 307px #FFF, 1042px 1009px #FFF, 1383px 296px #FFF, 191px 1884px #FFF, 1843px 1064px #FFF, 563px 1705px #FFF, 474px 1003px #FFF, 1585px 1954px #FFF, 1509px 309px #FFF, 1465px 1884px #FFF, 1221px 958px #FFF, 594px 798px #FFF, 185px 847px #FFF, 110px 59px #FFF, 1980px 1855px #FFF, 1227px 1616px #FFF, 1251px 845px #FFF, 323px 977px #FFF, 421px 1611px #FFF, 743px 642px #FFF, 1939px 340px #FFF, 331px 668px #FFF, 956px 1078px #FFF, 725px 319px #FFF, 916px 942px #FFF, 187px 183px #FFF, 1056px 959px #FFF, 217px 1817px #FFF, 1363px 393px #FFF, 1824px 598px #FFF, 607px 1721px #FFF, 712px 1098px #FFF, 901px 1579px #FFF, 1738px 1787px #FFF, 827px 163px #FFF, 729px 1889px #FFF, 618px 1481px #FFF, 1730px 303px #FFF, 1270px 1166px #FFF, 970px 860px #FFF, 658px 25px #FFF, 1375px 942px #FFF, 413px 1344px #FFF, 411px 1235px #FFF, 226px 1500px #FFF, 1162px 464px #FFF, 608px 1211px #FFF, 120px 988px #FFF, 1493px 1784px #FFF, 1631px 664px #FFF, 1262px 1570px #FFF, 1443px 201px #FFF, 156px 892px #FFF, 610px 1156px #FFF, 60px 1851px #FFF, 1968px 1525px #FFF, 617px 1702px #FFF, 1080px 752px #FFF, 1779px 148px #FFF, 1469px 185px #FFF, 967px 1191px #FFF, 1605px 1340px #FFF, 1554px 1433px #FFF, 1926px 888px #FFF, 504px 927px #FFF, 1879px 1505px #FFF, 1680px 138px #FFF, 1517px 1585px #FFF, 1509px 254px #FFF, 816px 1033px #FFF, 1318px 1867px #FFF, 1002px 10px #FFF, 1990px 875px #FFF, 1427px 684px #FFF, 1784px 846px #FFF, 503px 1334px #FFF, 636px 1730px #FFF, 1384px 65px #FFF, 1746px 273px #FFF, 933px 1719px #FFF, 1572px 535px #FFF, 401px 368px #FFF, 1685px 74px #FFF, 1500px 710px #FFF, 179px 1234px #FFF, 1341px 196px #FFF, 410px 278px #FFF, 1713px 895px #FFF, 999px 523px #FFF, 1661px 1876px #FFF, 1051px 1059px #FFF, 1819px 1915px #FFF, 1722px 1722px #FFF, 1935px 65px #FFF, 1763px 1280px #FFF, 1804px 1733px #FFF, 399px 1215px #FFF, 865px 482px #FFF, 1506px 582px #FFF, 631px 564px #FFF, 690px 1700px #FFF, 1975px 1673px #FFF, 1031px 944px #FFF, 1914px 426px #FFF, 1308px 1689px #FFF, 188px 435px #FFF, 687px 106px #FFF, 1936px 471px #FFF, 748px 401px #FFF, 667px 1718px #FFF, 1717px 144px #FFF, 1117px 1686px #FFF, 891px 275px #FFF, 382px 684px #FFF, 909px 529px #FFF, 957px 1276px #FFF, 1321px 1979px #FFF, 750px 1388px #FFF, 1115px 70px #FFF, 1909px 1684px #FFF, 529px 1817px #FFF, 522px 1618px #FFF, 380px 360px #FFF, 550px 786px #FFF, 1280px 1025px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 91px 1601px #FFF, 387px 731px #FFF, 1531px 319px #FFF, 616px 1001px #FFF, 1214px 1242px #FFF, 1027px 131px #FFF, 1733px 823px #FFF, 5px 1943px #FFF, 1001px 1689px #FFF, 654px 1275px #FFF, 569px 426px #FFF, 1889px 1532px #FFF, 895px 157px #FFF, 1051px 95px #FFF, 1109px 104px #FFF, 1191px 1942px #FFF, 1264px 714px #FFF, 1911px 1195px #FFF, 1102px 1114px #FFF, 1708px 902px #FFF, 1861px 853px #FFF, 1000px 1513px #FFF, 235px 1516px #FFF, 1794px 1212px #FFF, 1700px 1272px #FFF, 1110px 1410px #FFF, 1813px 1226px #FFF, 529px 707px #FFF, 824px 1269px #FFF, 538px 1996px #FFF, 1862px 1565px #FFF, 1333px 633px #FFF, 963px 950px #FFF, 1546px 1995px #FFF, 457px 1297px #FFF, 465px 1857px #FFF, 1738px 1673px #FFF, 1171px 345px #FFF, 365px 1054px #FFF, 525px 344px #FFF, 565px 68px #FFF, 1594px 1890px #FFF, 1114px 772px #FFF, 495px 1732px #FFF, 1966px 1908px #FFF, 789px 391px #FFF, 951px 340px #FFF, 890px 1px #FFF, 953px 533px #FFF, 579px 120px #FFF, 1079px 1286px #FFF, 1122px 515px #FFF, 828px 800px #FFF, 1773px 1014px #FFF, 1183px 1809px #FFF, 1516px 1335px #FFF, 1260px 1560px #FFF, 1102px 1921px #FFF, 820px 1663px #FFF, 924px 181px #FFF, 1880px 1698px #FFF, 407px 59px #FFF, 294px 1532px #FFF, 1648px 468px #FFF, 451px 1245px #FFF, 847px 1386px #FFF, 712px 1797px #FFF, 796px 1506px #FFF, 39px 650px #FFF, 277px 1215px #FFF, 353px 501px #FFF, 424px 58px #FFF, 1919px 1204px #FFF, 1239px 995px #FFF, 1541px 1212px #FFF, 646px 1638px #FFF, 1979px 1829px #FFF, 1436px 327px #FFF, 693px 955px #FFF, 1574px 1316px #FFF, 1933px 1233px #FFF, 1122px 961px #FFF, 1092px 436px #FFF, 1546px 893px #FFF, 1822px 657px #FFF, 1174px 1258px #FFF, 1151px 968px #FFF, 112px 1574px #FFF, 1416px 1594px #FFF, 1131px 1109px #FFF, 89px 1147px #FFF, 951px 1828px #FFF, 672px 88px #FFF, 1920px 758px #FFF, 1085px 1592px #FFF, 789px 373px #FFF, 770px 1621px #FFF, 425px 209px #FFF, 1132px 1738px #FFF, 1101px 1402px #FFF, 288px 494px #FFF, 331px 1605px #FFF, 329px 23px #FFF, 909px 950px #FFF, 1023px 550px #FFF, 1885px 23px #FFF, 1367px 1820px #FFF, 926px 1467px #FFF, 1201px 594px #FFF, 1675px 130px #FFF, 1857px 1048px #FFF, 58px 911px #FFF, 1558px 930px #FFF, 702px 1574px #FFF, 1403px 957px #FFF, 1766px 161px #FFF, 747px 852px #FFF, 345px 1934px #FFF, 1896px 573px #FFF, 1671px 267px #FFF, 1752px 1147px #FFF, 868px 1189px #FFF, 134px 1211px #FFF, 1416px 1916px #FFF, 352px 782px #FFF, 851px 1432px #FFF, 643px 205px #FFF, 1559px 1793px #FFF, 1529px 1804px #FFF, 534px 1812px #FFF, 1257px 421px #FFF, 12px 948px #FFF, 414px 1016px #FFF, 64px 974px #FFF, 975px 27px #FFF, 686px 1296px #FFF, 1653px 52px #FFF, 817px 202px #FFF, 551px 1175px #FFF, 151px 266px #FFF, 1569px 337px #FFF, 966px 351px #FFF, 1200px 618px #FFF, 1967px 1172px #FFF, 269px 1915px #FFF, 1197px 543px #FFF, 1363px 403px #FFF, 1562px 936px #FFF, 478px 1776px #FFF, 74px 1768px #FFF, 1658px 853px #FFF, 1935px 1382px #FFF, 328px 1470px #FFF, 230px 1066px #FFF, 1001px 1412px #FFF, 1724px 1294px #FFF, 422px 154px #FFF, 1543px 1091px #FFF, 511px 1527px #FFF, 1433px 709px #FFF, 680px 1873px #FFF, 577px 609px #FFF, 903px 937px #FFF, 1983px 563px #FFF, 1252px 576px #FFF, 1600px 1404px #FFF, 1802px 1927px #FFF, 1876px 1510px #FFF, 419px 353px #FFF, 1107px 1313px #FFF, 102px 1495px #FFF, 720px 1135px #FFF, 459px 528px #FFF, 593px 1552px #FFF, 1951px 1676px #FFF, 1163px 1825px #FFF, 178px 1870px #FFF, 762px 1652px #FFF, 834px 1066px #FFF, 338px 884px #FFF, 1745px 1454px #FFF, 1144px 1126px #FFF, 1100px 424px #FFF, 1865px 1142px #FFF, 336px 1040px #FFF, 1329px 1984px #FFF, 1590px 1194px #FFF, 1846px 126px #FFF, 777px 561px #FFF, 1085px 503px #FFF, 1020px 87px #FFF, 1769px 1541px #FFF, 1726px 1879px #FFF, 699px 1449px #FFF, 639px 589px #FFF, 506px 1100px #FFF, 1585px 694px #FFF, 48px 1877px #FFF, 1638px 1610px #FFF, 982px 1676px #FFF;
    animation: animStar 60s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 91px 1601px #FFF, 387px 731px #FFF, 1531px 319px #FFF, 616px 1001px #FFF, 1214px 1242px #FFF, 1027px 131px #FFF, 1733px 823px #FFF, 5px 1943px #FFF, 1001px 1689px #FFF, 654px 1275px #FFF, 569px 426px #FFF, 1889px 1532px #FFF, 895px 157px #FFF, 1051px 95px #FFF, 1109px 104px #FFF, 1191px 1942px #FFF, 1264px 714px #FFF, 1911px 1195px #FFF, 1102px 1114px #FFF, 1708px 902px #FFF, 1861px 853px #FFF, 1000px 1513px #FFF, 235px 1516px #FFF, 1794px 1212px #FFF, 1700px 1272px #FFF, 1110px 1410px #FFF, 1813px 1226px #FFF, 529px 707px #FFF, 824px 1269px #FFF, 538px 1996px #FFF, 1862px 1565px #FFF, 1333px 633px #FFF, 963px 950px #FFF, 1546px 1995px #FFF, 457px 1297px #FFF, 465px 1857px #FFF, 1738px 1673px #FFF, 1171px 345px #FFF, 365px 1054px #FFF, 525px 344px #FFF, 565px 68px #FFF, 1594px 1890px #FFF, 1114px 772px #FFF, 495px 1732px #FFF, 1966px 1908px #FFF, 789px 391px #FFF, 951px 340px #FFF, 890px 1px #FFF, 953px 533px #FFF, 579px 120px #FFF, 1079px 1286px #FFF, 1122px 515px #FFF, 828px 800px #FFF, 1773px 1014px #FFF, 1183px 1809px #FFF, 1516px 1335px #FFF, 1260px 1560px #FFF, 1102px 1921px #FFF, 820px 1663px #FFF, 924px 181px #FFF, 1880px 1698px #FFF, 407px 59px #FFF, 294px 1532px #FFF, 1648px 468px #FFF, 451px 1245px #FFF, 847px 1386px #FFF, 712px 1797px #FFF, 796px 1506px #FFF, 39px 650px #FFF, 277px 1215px #FFF, 353px 501px #FFF, 424px 58px #FFF, 1919px 1204px #FFF, 1239px 995px #FFF, 1541px 1212px #FFF, 646px 1638px #FFF, 1979px 1829px #FFF, 1436px 327px #FFF, 693px 955px #FFF, 1574px 1316px #FFF, 1933px 1233px #FFF, 1122px 961px #FFF, 1092px 436px #FFF, 1546px 893px #FFF, 1822px 657px #FFF, 1174px 1258px #FFF, 1151px 968px #FFF, 112px 1574px #FFF, 1416px 1594px #FFF, 1131px 1109px #FFF, 89px 1147px #FFF, 951px 1828px #FFF, 672px 88px #FFF, 1920px 758px #FFF, 1085px 1592px #FFF, 789px 373px #FFF, 770px 1621px #FFF, 425px 209px #FFF, 1132px 1738px #FFF, 1101px 1402px #FFF, 288px 494px #FFF, 331px 1605px #FFF, 329px 23px #FFF, 909px 950px #FFF, 1023px 550px #FFF, 1885px 23px #FFF, 1367px 1820px #FFF, 926px 1467px #FFF, 1201px 594px #FFF, 1675px 130px #FFF, 1857px 1048px #FFF, 58px 911px #FFF, 1558px 930px #FFF, 702px 1574px #FFF, 1403px 957px #FFF, 1766px 161px #FFF, 747px 852px #FFF, 345px 1934px #FFF, 1896px 573px #FFF, 1671px 267px #FFF, 1752px 1147px #FFF, 868px 1189px #FFF, 134px 1211px #FFF, 1416px 1916px #FFF, 352px 782px #FFF, 851px 1432px #FFF, 643px 205px #FFF, 1559px 1793px #FFF, 1529px 1804px #FFF, 534px 1812px #FFF, 1257px 421px #FFF, 12px 948px #FFF, 414px 1016px #FFF, 64px 974px #FFF, 975px 27px #FFF, 686px 1296px #FFF, 1653px 52px #FFF, 817px 202px #FFF, 551px 1175px #FFF, 151px 266px #FFF, 1569px 337px #FFF, 966px 351px #FFF, 1200px 618px #FFF, 1967px 1172px #FFF, 269px 1915px #FFF, 1197px 543px #FFF, 1363px 403px #FFF, 1562px 936px #FFF, 478px 1776px #FFF, 74px 1768px #FFF, 1658px 853px #FFF, 1935px 1382px #FFF, 328px 1470px #FFF, 230px 1066px #FFF, 1001px 1412px #FFF, 1724px 1294px #FFF, 422px 154px #FFF, 1543px 1091px #FFF, 511px 1527px #FFF, 1433px 709px #FFF, 680px 1873px #FFF, 577px 609px #FFF, 903px 937px #FFF, 1983px 563px #FFF, 1252px 576px #FFF, 1600px 1404px #FFF, 1802px 1927px #FFF, 1876px 1510px #FFF, 419px 353px #FFF, 1107px 1313px #FFF, 102px 1495px #FFF, 720px 1135px #FFF, 459px 528px #FFF, 593px 1552px #FFF, 1951px 1676px #FFF, 1163px 1825px #FFF, 178px 1870px #FFF, 762px 1652px #FFF, 834px 1066px #FFF, 338px 884px #FFF, 1745px 1454px #FFF, 1144px 1126px #FFF, 1100px 424px #FFF, 1865px 1142px #FFF, 336px 1040px #FFF, 1329px 1984px #FFF, 1590px 1194px #FFF, 1846px 126px #FFF, 777px 561px #FFF, 1085px 503px #FFF, 1020px 87px #FFF, 1769px 1541px #FFF, 1726px 1879px #FFF, 699px 1449px #FFF, 639px 589px #FFF, 506px 1100px #FFF, 1585px 694px #FFF, 48px 1877px #FFF, 1638px 1610px #FFF, 982px 1676px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1773px 31px #FFF, 237px 1460px #FFF, 385px 706px #FFF, 1267px 636px #FFF, 220px 1332px #FFF, 256px 1920px #FFF, 1075px 1678px #FFF, 1596px 1484px #FFF, 653px 483px #FFF, 443px 624px #FFF, 729px 1124px #FFF, 655px 424px #FFF, 827px 23px #FFF, 772px 1230px #FFF, 1851px 748px #FFF, 1638px 1157px #FFF, 1223px 1807px #FFF, 1854px 1606px #FFF, 1415px 240px #FFF, 951px 1028px #FFF, 1414px 1179px #FFF, 54px 1686px #FFF, 131px 972px #FFF, 939px 1418px #FFF, 599px 25px #FFF, 1679px 11px #FFF, 1833px 1184px #FFF, 1650px 1639px #FFF, 1345px 506px #FFF, 1607px 672px #FFF, 1850px 1442px #FFF, 1140px 599px #FFF, 351px 1694px #FFF, 1725px 1069px #FFF, 1348px 346px #FFF, 1329px 1984px #FFF, 1806px 1731px #FFF, 871px 1873px #FFF, 1970px 1574px #FFF, 1515px 1171px #FFF, 64px 95px #FFF, 834px 662px #FFF, 941px 1235px #FFF, 1362px 563px #FFF, 693px 364px #FFF, 815px 1621px #FFF, 122px 1916px #FFF, 1922px 1936px #FFF, 1522px 95px #FFF, 665px 1774px #FFF, 1595px 1092px #FFF, 1023px 542px #FFF, 58px 946px #FFF, 1167px 584px #FFF, 910px 1377px #FFF, 889px 1253px #FFF, 1099px 788px #FFF, 170px 1487px #FFF, 1810px 1516px #FFF, 1713px 985px #FFF, 1733px 1226px #FFF, 1653px 1704px #FFF, 762px 1719px #FFF, 153px 963px #FFF, 1874px 744px #FFF, 1916px 1947px #FFF, 1418px 38px #FFF, 1632px 1475px #FFF, 315px 985px #FFF, 1645px 1884px #FFF, 315px 1943px #FFF, 670px 973px #FFF, 53px 45px #FFF, 1271px 1633px #FFF, 640px 972px #FFF, 187px 628px #FFF, 1396px 976px #FFF, 1713px 943px #FFF, 1962px 237px #FFF, 248px 1154px #FFF, 29px 1982px #FFF, 1195px 884px #FFF, 1260px 201px #FFF, 616px 114px #FFF, 305px 769px #FFF, 137px 133px #FFF, 250px 1281px #FFF, 1629px 1447px #FFF, 1284px 384px #FFF, 837px 16px #FFF, 1433px 180px #FFF, 1187px 1646px #FFF, 992px 553px #FFF, 1922px 834px #FFF, 1060px 1932px #FFF, 827px 955px #FFF, 1545px 642px #FFF, 331px 1656px #FFF, 680px 1310px #FFF, 1410px 180px #FFF;
    animation: animStar 75s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1773px 31px #FFF, 237px 1460px #FFF, 385px 706px #FFF, 1267px 636px #FFF, 220px 1332px #FFF, 256px 1920px #FFF, 1075px 1678px #FFF, 1596px 1484px #FFF, 653px 483px #FFF, 443px 624px #FFF, 729px 1124px #FFF, 655px 424px #FFF, 827px 23px #FFF, 772px 1230px #FFF, 1851px 748px #FFF, 1638px 1157px #FFF, 1223px 1807px #FFF, 1854px 1606px #FFF, 1415px 240px #FFF, 951px 1028px #FFF, 1414px 1179px #FFF, 54px 1686px #FFF, 131px 972px #FFF, 939px 1418px #FFF, 599px 25px #FFF, 1679px 11px #FFF, 1833px 1184px #FFF, 1650px 1639px #FFF, 1345px 506px #FFF, 1607px 672px #FFF, 1850px 1442px #FFF, 1140px 599px #FFF, 351px 1694px #FFF, 1725px 1069px #FFF, 1348px 346px #FFF, 1329px 1984px #FFF, 1806px 1731px #FFF, 871px 1873px #FFF, 1970px 1574px #FFF, 1515px 1171px #FFF, 64px 95px #FFF, 834px 662px #FFF, 941px 1235px #FFF, 1362px 563px #FFF, 693px 364px #FFF, 815px 1621px #FFF, 122px 1916px #FFF, 1922px 1936px #FFF, 1522px 95px #FFF, 665px 1774px #FFF, 1595px 1092px #FFF, 1023px 542px #FFF, 58px 946px #FFF, 1167px 584px #FFF, 910px 1377px #FFF, 889px 1253px #FFF, 1099px 788px #FFF, 170px 1487px #FFF, 1810px 1516px #FFF, 1713px 985px #FFF, 1733px 1226px #FFF, 1653px 1704px #FFF, 762px 1719px #FFF, 153px 963px #FFF, 1874px 744px #FFF, 1916px 1947px #FFF, 1418px 38px #FFF, 1632px 1475px #FFF, 315px 985px #FFF, 1645px 1884px #FFF, 315px 1943px #FFF, 670px 973px #FFF, 53px 45px #FFF, 1271px 1633px #FFF, 640px 972px #FFF, 187px 628px #FFF, 1396px 976px #FFF, 1713px 943px #FFF, 1962px 237px #FFF, 248px 1154px #FFF, 29px 1982px #FFF, 1195px 884px #FFF, 1260px 201px #FFF, 616px 114px #FFF, 305px 769px #FFF, 137px 133px #FFF, 250px 1281px #FFF, 1629px 1447px #FFF, 1284px 384px #FFF, 837px 16px #FFF, 1433px 180px #FFF, 1187px 1646px #FFF, 992px 553px #FFF, 1922px 834px #FFF, 1060px 1932px #FFF, 827px 955px #FFF, 1545px 642px #FFF, 331px 1656px #FFF, 680px 1310px #FFF, 1410px 180px #FFF;
}

.main-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-5000px);
    }
}


/* *************** */
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
    background-color: #303235;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #a0a0a0;
    border-radius: 7px;
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
        inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}