* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

a {
    color: gray;
}

body {
    background-color: #c4c2c2;
}

/* start nav bar */
header {
    position: fixed;
    width: 100%;
    height: fit-content;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 49, 49);
}

.navBar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 6em;
    padding: 0 2em;
    white-space: nowrap;
}

.navBar a {
    display: flex;
    color: rgb(114, 114, 114);
    height: 2rem;
    border-radius: 5px;
    margin-right: 1.25rem;
    text-decoration: none;
    text-shadow: 0 0 15px black;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navBar a:hover {
    transform: scale(1.1);
    text-shadow: none;
    border: 1px solid gray;
    padding: 2px;
}

.navBar li {
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
}

.activeNav {
    color: #fff;
    text-shadow: none;
    border: 1px solid #fff;
    text-decoration: underline;
}

/* end nav bar */

/* start Button */
.addSection {
    position: absolute;
    display: block;
    top: 50%;
    left: 2em;
    transform: translate(-50%, -50%);
    width: 9rem;
    height: 2.5rem;
    font-size: 1.25em;
    margin: 0 3rem;
    border-radius: 4px;
    background-color: #63686d;
    border: none;
    color: #fff;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.addSection:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0.5rem;
    right: -20px;
    transition: 0.5s;
}

.addSection:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.addSection:hover:after {
    opacity: 1;
    right: 10px;
}

/* end Button */

/* start main */
.main {
    display: flex;
    flex-direction: column;
    top: 6em;
    width: 100%;
    height: calc(max-content - 6em);
    /* padding-top: 6em; */
}

.main section:nth-of-type(even) {
    align-self: flex-end;
}

/* end main */

/* start welcome section */
.welcome {
    width: 100%;
    height: calc(100vh - 12rem);
    font-size: 8em;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(61, 61, 61), rgb(199, 199, 199));
    color: rgb(214, 214, 214);
}

.welcome p {
    padding-left: 3rem;
    text-shadow: 4px 3px 0 #7A7A7A;
}

/* end welcome section */

/* start section */
.section {
    text-align: justify;
    width: 80%;
    padding: 2em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0.3em;
}

.section:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.section h1 {
    margin-bottom: .5rem;
    text-decoration: underline;
}

.section:nth-of-type(even) h1 {
    text-align: right;
}

.activeH1 {
    color: gray;
    text-decoration: none;
}

.section p {
    font-size: 1.5em;
    text-indent: 1.5em;
}

/* end section */

/* start footer */
footer {
    width: 100%;
    height: 6em;
    display: flex;
    position: relative;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(199, 199, 199), rgb(61, 61, 61));
    color: rgb(214, 214, 214);
    font-size: 2rem;
}

footer p {
    padding-left: 3rem;
    text-shadow: 4px 3px 0 #7A7A7A;
}

.responsive-list {
    display: none;
}

/* end footer */

/* start responsive  */
@media screen and (max-width: 769px) {
    .navBar {
        flex-direction: column;
        align-items: flex-end;
        width: 100vw;
        padding: 0;
    }

    .navBar a {
        padding: 0;
        height: 1.25rem;
    }

    .navBar li {
        font-size: 1em;
    }

    .welcome {
        font-size: 3em;
        margin-bottom: calc(45vh - 12rem);
    }

    .section p {
        font-size: 1em;
    }

    footer {
        font-size: 1rem;
    }

    /* start responsive menu */
    .responsive-list {
        display: flex;
        flex-direction: column;
        background-color: rgb(51, 49, 49);
        align-items: baseline;
        justify-content: baseline;
        padding: 0;
        width: 6em;
        height: 6em;
    }

    .responsive-list i {
        font-size: 3em;
        color: #63686d;
        position: absolute;
        top: 3rem;
        right: 1rem;
        transform: translate(-50%, -50%);
    }

    .responsive-list li {
        list-style-type: none;
        padding: 0.5em;
        width: max-content;
    }

    .responsive-list li a {
        position: relative;
        display: block;
        top: 5rem;
        font-size: 1em;
        text-decoration: none;
        background: rgb(51, 49, 49);
        z-index: 1000;
    }

    .responsive-innerDiv {
        display: none;
    }

    /* end responsive menu */
}

/* end responsive */